option_settings: 
    aws:elasticbeanstalk:application:environment: 
        PARSE_MOUNT: "/parse" 
        APP_ID: //TODO: generate appId (i.e. "b718aa5fb5f449d0bc3665c29278559c")
        MASTER_KEY: //TODO: generate masterKey (i.e. "c249e64075a2487e89a2f08a45fc0e8d")
        FILE_KEY: //TODO: generate fileKey (i.e. "2b38640e1cb7400e944a4f08dd7dd3e3")
        DATABASE_URI: //TODO: get databse URI (i.e. "mongodb://aries:aries123@ip-172-31-12-3.ec2.internal:27017/aries?ssl=false")
        NODE_ENV: // TODO:"development | qa | production" 
        SERVER_URL: //TODO: add server URL (i.e. "http://parse-server-aries-dev.us-east-1.elasticbeanstalk.com")
    aws:elasticbeanstalk:container:nodejs: 
        NodeCommand: "npm start"